.puji {
    margin-left: 180px;
    
}

.puji2 {
    margin-left: 180px;
    float: left;
}

.pujii {
    margin-left: 140px;
}

.puji3 {

    margin-top: -270px;
    margin-left: 700px;
}

.main1{
    /* border: 2px solid red; */
    height:450px;
    width: 100%;
    background-color: rgb(203, 245, 245);
    margin-top: -15px;
    
}

.mom1 {
    text-align: center;
}

.mom22 {
    margin-top: -105px;
    margin-left: 110px;

}

.mom3 {
    /* border: 2px solid red; */
    height: 100px;
    width: 20%;
    background-color: white;
    margin-left: 30px;
    float: left;
}

.mom4 {
    /* border: 2px solid red; */
    height: 100px;
    width: 21%;
    background-color: white;
    margin-top: 3px;
    margin-left: 210px;
    float: left;
}

.mom44 {
    margin-top: -105px;
    margin-left: 100px;
}

.mom5 {
    /* border: 2px solid red; */
    height: 100px;
    width: 20%;
    background-color: white;
    margin-left: 950px;
}

.mom55 {
    margin-top: -100px;
    margin-left: 120px;
}

.button {
    margin-left: 550px;
}

.main2 {
    /* border: 2px solid red; */
    height: 320px;
    width: 100%;
    background-color: rgb(245, 227, 230);
    margin-top: -20px;
}

.pu {
    margin-left: 70px;
}

.ji {
    margin-left: 50px;
}

.th {
    margin-left: 650px;
    margin-top: -220px;
}

.te {
    margin-left: 500px;
}

.dad img {
    border-radius: 50%;
}

.dad {
    margin-left: 100px;
    float: left;
}

.day {
    background-color: rgb(253, 121, 224);
}

.dad1 img {
    border-radius: 50%;
}

.dad1 {
    margin-left: 250px;
    float: left;
}

.day1 {
    background-color: rgb(253, 121, 224);
}

.dad2 img {
    border-radius: 50%;
}

.dad2 {
    margin-left: 790px;
    float: left;
    margin-top: -270px;
}

.day2 {
    background-color: rgb(253, 121, 224);
}

.dad3 img {
    border-radius: 50%;
}

.dad3 {
    margin-left: 1100px;
}

.day3 {
    background-color: rgb(253, 121, 224);
}

.main4 {
    /* border: 2px solid red; */
    height: 450px;
    width: 100%;
    background-color: rgb(243, 221, 225);
}

.ab {
    margin-left: 150px;
}

.cd {
    margin-left: 380px;
    margin-top: -250px;
}

.ef {
    margin-top: 40px;
    margin-left: 400px;
}

.main5 {
    /* border: 2px solid red; */
    height: 370px;
    width: 100%;
    background-color: rgb(203, 245, 245);
    margin-top: -10px;
}

.ju {
    font-size: 250%;
    margin-left: 290px;
}

.ted {
    margin-left: 320px;
}

.a {
    margin-left: 170px;
}

.b {
    margin-left: 100px;
}

.main6 {
    /* border: 2px solid red; */
    width: 100%;
    height: 370px;
    background-color: rgb(242, 237, 228);
    margin-top: -10px;
}
.c img{
    border: 2px solid black;
    height: 90px;
    width: 90px;
    margin-left: 600px;
    margin-top: -360px;
}
.d{
    margin-left: 180px;
    }
.c{
    margin-left: 70px;
}
.f{
    font-size: 30px;
    color: yellow;
}
.mn{
    margin-left: 50px;
    margin-top: 100px;
}
.g{
    font-size: 30px;
    color: yellow;
    }
    .e{
        margin-left: 750px;
        margin-top: -330px;
    }
    .main7{
        /* border: 2px solid red; */
        width: 100%;
        height: 360px;
        background-color: black;
        color: white;
        margin-top: -55px;
    }
    .red{
        margin-left: 50px;
        margin-top: -25px;
    }
    .redd{
        margin-left: 50px;
        margin-top: -25px;
    }
    .q{
        text-align: center;
    }
    .w{
        margin-left: 50px;
    }
    .r{
        margin-left: 120px;
        background-color: orange;
    }
    .t{
        margin-left: 120px;
    }
    .de{
        margin-left: 450px;
        margin-top: -360px;
    }
    .si{
        margin-left: 120px;
        background-color: orange;
    }
    .po{
        margin-left: 80px;
    }
    .pa{
        margin-left: 130px;
    }
    .bu{
        margin-left: 900px;
        margin-top: -360px;
    }
    .jj{
        background-color: orange;
        margin-left: 140px;
    }
    .ii{
        margin-left: 150px;
    }
    .ba{
        margin-left: 100px;
    }
    .main8{
        background-color: rgb(203, 245, 245);  
        margin-top: -10px;
    }
    
 
        
    